
.col-md-4{
	text-align: justify;
}

.col-md-12{
	margin: 20px;	
}

.text-left{
	/*position: absolute;*/
	text-align: left;
	font-weight: bold;
	color: #66ffff;
	margin:10px;
}

.compare-title{
	text-align: center;
	color:#000000;
}

.col-sm-8{
	/*position: absolute;*/
	text-align: justify;
	margin: 10px;
}

.title{
	/*position: absolute;*/
	margin:30px;
}


.data-title{
	text-align: center;
}

.table-output{
	margin: 50px;
}

.footer{
	text-align: center;
}

.table-output{
	border-collapse: collapse;

}

.navbar{
	background-color:#66ffff;
}

.thumbnail {
	width:42%;
	height:22%;
}

.navbar-brand {
	font-weight: bold;
	color:#ffffff;
}

.secondImg {
	width:10%:
	height:20%;
}

.note{
	margin:10px;
}

