/*.rounded main-image{
	float: left;
	margin: 5px;
}*/

.col-md-4{
	text-align: justify;
}

.col-md-12{
	margin: 20px;
}
.text-left{
	/*position: absolute;*/
	text-align: left;
	font-weight: bold;
	color: #66ffff;
	margin:10px;
}

.compare-title{
	text-align: center;
	color:#000000;
}

.col-sm-8{
	/*position: absolute;*/
	text-align: justify;
	margin: 10px;
}

.title{
	/*position: absolute;*/
	margin:30px;
}

.my-4:break-after: {
	margin: 10px;
}

.data-title{
	text-align: center;
}

.table-output{
	margin: 50px;
}